<a href="/join/<%= @meetup.id %>">
  <% if @is_creator %>
    <div class="button">
      Delete this meetup.
    </div>
  <% elsif @joined %>
    <div class="button">
      Leave this meetup.
    </div>
  <% else %>
    <div class="button green">
      Join this meetup!
    </div>
  <% end %>
</a>

<h1><%= @meetup.name %></h1>
<p><%= @meetup.description %></p>
<p><%= @meetup.location %></p>
<p><%= @meetup.planet.name %></p>
<p class="user"><img class='avatar' src='<%= @creator.avatar_url %>'/></br><%= @creator.username %></p>

<form action="/comment/<%= @meetup.id %>" method="post">
  <label for="comment">Leave a comment</label>
  <input type="text" name="comment" id="comment"/>
  <input type="submit" value="Post"/>
</form>

<h2>Who's going?</h2>
<% @meetup.users.each do |user| %>
  <div class="user"><img class='avatar' src='<%= user.avatar_url %>'/></br><%= user.username %></div>
<% end %>

<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p>- <%= comment.user.username %></p>
<% end %>
