<% if @signed_in %>
  <a href="/join/<%= @meetup.id %>">
    <div class="button">
      <% if @is_creator %>
        Delete this meetup.
      <% elsif @joined %>
        Leave this meetup.
      <% else %>
        Join this meetup!
      <% end %>
    </div>
  </a>
<% end %>

<h1><%= @meetup.name %></h1>
<p><%= @meetup.description %></p>
<p><%= @meetup.location %></p>
<p><%= @meetup.planet.name %></p>
<p><%= @creator %></p>

<% if @signed_in %>
  <form action="/comment/<%= @meetup.id %>" method="post">
    <label for="comment">Leave a comment</label>
    <input type="text" name="comment" id="comment"/>
  </form>
<% end %>

<h2>Who's going?</h2>
<ul>
  <% @meetup.users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p>- <%= comment.user.username %></p>
<% end %>
